<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Your New Puppy</title>
  </head>
  <body>
    <h1>Here's your new puppy</h1>
    <h2>Puppy Name: <%= @new_puppy.name %></h2>
    <h2>Puppy Breed: <%= @new_puppy.breed%></h2>
    <h2>Puppy Age: <%= @new_puppy.age %></h2>
  </body>
</html>
